.nav-link{
  display:inline;
}
/* nav ul li a{
  text-decoration: none;
  color:black;
} */
.btn{
  border-radius:0;
}
.navbar-nav{
  display:inline;
}
#teamLogo{
  display:block;
  height:80px;
  width:auto;
  float:right;
  margin:10px;
  border-radius:10px;
  transition:1s;
  border: 1px solid black;
}
#teamLogo:hover{
  padding-left: 25px;
  background-color:red;
  box-shadow: 2px 2px 2px red;
  border: transparent;
}
.clock-container{
  font-size:25px;
  /*line-height:25px;*/
  color:black;
  font-weight: 500;
}
.clock2 {
  text-align:right;
  display:block;
}
#clockTimer{
  font-size:40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
