form{
  width: 50%;
  background-color: rgba(255, 255, 0, 0.76);
  padding: 150px 50px 150px 50px;
  border-radius: 50px;
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
