<div class="container">
  <header>
    <app-Navbar></app-Navbar>
  </header>
  <div class="heroSection">
    <img id="teamLogo" src="../assets/sombrero.png"/>
    <h1 id="teamTitle">Team Sombrero!</h1>
    <img id="teamMascot" src="../assets/dancingCowboy.gif"/>
    <h3 id="teamSlogan">The toughest guys in town.</h3>
    <article id="bioPedro">
      <section>
        Name: Pedro
      </section>
      <section>
        Age: 25
      </section>
      <section>
        Description: FSU grad
      </section>
    </article>
    <article id="bioSteven">
      <section>
        Name: Steven
      </section>
      <section>
        Age: 22
      </section>
      <section>
        Description: ASU grad
      </section>
    </article>
  </div>

  <footer>
    <div class="clock-container clock2">
      <span id="clockTimer">{{timeString}}</span>
    </div>
  </footer>
</div>
