<div class="container">
  <header class="container">
    <app-Navbar></app-Navbar>

  </header>
  <div class="container">
    <div class="jumbotron" id="heroSection">
      <div class="cardsContainer">
        <div class="card" style="float:left;">
          <div class="card-body">
            <h5 class="card-title">Pedro</h5>
            <p class="card-text">Name: Pedro.<br/>Age: 25.<br/>Description: FSU grad.</p>
          </div>
        </div>
        <div class="card" style="float:right;">
          <div class="card-body">
            <h5 class="card-title">Steven</h5>
            <p class="card-text">Name: Steven.<br/>Age: 22.<br/>Description: ASU grad.</p>
          </div>
        </div>
      </div>

      <h1 id="teamTitle"><strong>Team Sombrero</strong></h1>
      <h3 id="teamSlogan">The toughest guys in town.</h3>

    </div>
    <div class="heroImage">

    </div>
  </div>

  <footer>
    <router-outlet></router-outlet>
  </footer>
</div>
