form{
  width: 50%;
  background-color: rgba(255, 123, 0, 0.76);
  text-align: center;
}
.navContainer{
  position: relative;
  margin:auto;
  padding-top: 150px;
  padding-bottom: 150px;
  width:100%;
  height:500px;
}
.container{
  border: 1px solid black;
  width:20%;
  height:210px;
  text-align: left;
  padding-top:10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: rgb(156, 165, 247);
}
